<!DOCTYPE = html>
<html>
<head>
<link href='css/users.css' type="text/css" rel="stylesheet" />
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Api Users</h1>
<ul><li><a href="/users">Users</a></li>
<li><a href="/users/add">Add</a></li>
</ul>
{% block content %}
{% endblock %}
</body>
</html>