<!DOCTYPE = html>
<html>
<head>
<link href='/css/style.css' type="text/css" rel="stylesheet" />
<script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous">
			  </script>
<script src='/js/inputCheck.js'></script>
</head>
<body>
<h1>Api Users</h1>
<ul><li><a href="/users">Users</a></li>
<li><a href="/todo">Todo</a></li>
<li><a href="/users/add">Add</a></li>
</ul>
{% block content %}
{% endblock %}
</body>
</html>