{% extends '../index.twig' %}
{% block content %}
<h2>Add / Edit</h2>
<form method="POST" action="session">
<table class="table-fill">
<tr>
<td>
<label for="email">Email : </label>
</td>
<td>
<input value="{{user.email}}" name="email" id="email">
</td>
</tr>
<tr>
<td>
<label for="password">Password : </label>
</td>
<td>
<input type="password" value="" name="password" id="password">
</td>
</tr>
<tr>
<td colspan=2 class="submit">
<input class="submit" type="submit"/>
</td>
</tr>
</form>
</table>
{% endblock %}