{% extends '../index.twig' %}
{% block content %}
<h2>Add / Edit</h2>
{% if user %}
<form method="POST" action="/users/{{user.rowid}}?_method=PUT">
{% else %}
<form method="POST" action="/users/add">
{% endif %}
<label for="name">Name : </label>
<input value="{{user.name}}" name="name" id="name"><br>
<label for="email">Email : </label>
<input value="{{user.email}}" name="email" id="email"><br>
<input type="submit"/>
</form>
{% endblock %}